@import "tailwindcss";

:root {
  --background: #bcb5a8;
  --dark: #303030;
}

@font-face {
  font-family: "gillsanslight";
  src: url("/fonts/Gill Sans Light.otf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "gillsans";
  src: url("/fonts/Gill Sans.otf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--dark);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;

}

.brand-band {
  @apply text-center uppercase text-white text-3xl p-2;
  background: var(--dark);
}

.body-bg {
  background: #c9c8c3;
}