@import "tailwindcss";

:root {
  --background: #bcb5a8;
  --dark: #303030;
}

@font-face {
  font-family: "gillsanslight";
  src: url("/fonts/Gill Sans Light.otf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "gillsans";
  src: url("/fonts/Gill Sans.otf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--dark);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;

}

.brand-band {
  @apply text-center uppercase text-white text-3xl p-2;
  background: var(--dark);
}

.body-bg {
  background: #c9c8c3;
}

.contactForm label {@apply hidden;}
.contactForm input,
.contactForm textarea {
  @apply bg-white p-2 my-2;
  border: solid 1px #999;
}

.button {
  @apply text-white w-42 p-2 mx-auto;
  background: #224065;
}

footer {
  @apply p-5;
  background: #1b1b1b;
}

footer p {
    color: #bcb5a8;
}

.pr-wrap {
  @apply my-5 md:my-16 max-w-3xl mx-auto p-5;
}

.pr-wrap p {
  @apply mb-5;
}

.pr-wrap a {
  @apply underline;
  color: #224065;
}

.pr-wrap li {
  @apply mb-5 ml-10;
}

.pr-wrap ul {
  @apply list-disc;
}

.pr-wrap ul ul {
  @apply ml-15;
  list-style: circle;
}

.pr-links {
  @apply mt-10;
}

.pr-links a:hover {
  @apply underline;
}
.pr-links li {
  @apply relative block my-5 pb-5 w-full;
  border-bottom: dotted 2px #999;
}
.pr-links a {
  @apply py-5 text-xl;
}

.pr-links div {
  @apply relative font-bold;
  color: #224065;
}

.pr-links div:after {
  @apply my-4;
  display: block;
  content: "";
  width: 80px;
  background-color: #224065;
  height:2px;

}

.acgBackground {
  @apply w-full max-w-screen-2xl mx-auto py-28;
  background: #fff url('/acg-brand-bg.png') no-repeat center top;
  background-size: cover;
}

.acgBackgroundInner {
  @apply flex flex-col md:flex-row flex-nowrap md:flex-wrap justify-center items-center max-w-5xl mx-auto py-12;
}

.acgBackground a {
  @apply w-1/2 md:w-1/4 px-10 mb-5 md:mb-0;
}
